<%- include('partials/header'); -%>

<div class="container-flex" style="width: 30%; margin: 9rem auto 16rem;">
    <div>
        <h1>We are working on it.. </h1>
    </div>
    <div><img src="./images/icons8-broken-robot-96.png" /></div>
</div>

<%- include('partials/footer'); -%>