<%- include('partials/header'); -%>

<div id="blogs-container">
    <div id="blog-options">
        <a href="/createBlog" class="create-blog-link">Create blog</a>
        <div id="categories">
            <h3>Categories</h3>
            <ul>
                <li>
                    <p class="category active c1">Technology</p>
                </li>
                <li>
                    <p class="category active c2">Science</p>
                </li>
                <li>
                    <p class="category active c3">Sports</p>
                </li>
                <li>
                    <p class="category active c4">Entertainment</p>
                </li>
                <li>
                    <p class="category active c5">Health</p>
                </li>
                <li>
                    <p class="category active c6">Other</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="blogs">
        <div class="blog">
            <div class="user-detail">
                <img src='images/animals/female-lion.svg' alt="Profile pic" width="80px" height="80px"
                    style="border-radius: 50%; display: block;">
                <h2>Name</h2>
            </div>
            <div class="blog-detail">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem. </p>
            </div>
        </div>
    </div>
</div>

<script defer>

</script>

<%- include('partials/footer'); -%>