<%- include('partials/header'); -%>

<header>
    <div class="head_content">
        <div class="content_text">
            <h1 class="text-shadow">Publish your ideas, your way</h1>
            <h3 class="text-shadow">Create beautiful and unique blogs. It's easy and free</h3>
            <img src="./images/publishIdeas.svg" alt="" height="300px" width="300px">
        </div>
        <a href="/signup" class="content_button">Get started</a>
    </div>
</header>

<%- include('partials/footer'); -%>