<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>
  <label for="name">Username <i class="fas fa-signature"></i></label>
  <input type="text" name="name" autocomplete="off" placeholder="Bond007" />
  <div class="name error"></div>

  <label for="email">Email <i class="fas fa-at"></i></label>
  <input type="text" name="email" autocomplete="off" placeholder="JamesBond@email.com" />
  <div class="email error"></div>

  <label for="password">Password <i class="fas fa-unlock"></i></label>
  <input type="password" name="password" autocomplete="off" placeholder="******" />
  <div class="password error"></div>

  <label for="bdate">Date of Birth <i class="fas fa-calendar-day"></i></label>
  <input type="date" name="bdate" autocomplete="off">
  <div class="bdate error"></div>

  <label for="role">Role <i class="fas fa-user-tag"></i></label>
  <input type="text" placeholder="(Student,Teacher,Traveller,Chef etc...)" name="role" autocomplete="off" />

  <button>Sign up</button>
  <div class="form_foot">
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</form>

<script>
  const form = document.querySelector("form");

  const nameError = document.querySelector(".name.error");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");
  const bdateError = document.querySelector(".bdate.error");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    nameError.textContent = "";
    emailError.textContent = "";
    passwordError.textContent = "";
    bdateError.textContent = "";

    //get values

    const userName = form.name.value;
    const email = form.email.value;
    const password = form.password.value;
    const Bdate = form.bdate.value;
    const role = form.role.value;

    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({
          userName,
          email,
          password,
          Bdate,
          role
        }),
        headers: {
          "Content-Type": "application/json"
        },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        nameError.textContent = data.errors.userName;
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
        bdateError.textContent = data.errors.Bdate;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('partials/footer'); -%>