/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: auto;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  /* background: linear-gradient(to right top, #ff6f6f, #ff8363, #ff995a, #ffaf54, #ffc555, #ffbd60, #ffb66b, #ffb076, #ff9592, #f788bb, #c28bdf, #6495ed); */

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('./images/background-img.jpg');
  background-position: left;
  animation: 40s slide infinite linear alternate-reverse;
}

@keyframes slide {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}


i.fas {
  color: darkslategray;
}

.text-shadow {
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 0;
  width: 100%;
  /* background: rgb(10, 10, 65); */

}

.header .head_container {
  width: 90%;
  max-width: 1350px;
  margin: auto;
}

.header_icon {
  margin-right: 1rem;
  width: 45px;
}

.header_icon img {
  width: inherit;
}

.current-page {
  border-bottom: white solid 2px;
}


.main_head .header_text h1 {
  font-size: 3.4rem;
}

.main_head .header_text h1 a {
  font-family: 'Caveat', cursive;
  background: linear-gradient(to right bottom, #414ce6, #a33ccd, #d433b0, #f04094, #fd5a7c, #ff706d, #ff8763, #ff9e5f, #ffb45d, #ffca5e, #ffe164, #f9f871);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.options a {
  margin-right: 1.2rem;
}

.options div {
  padding: 0.3rem 1rem;
}

.options .signup,
.options .login,
.options .logout,
.options .profile,
.options .greet,
.options .blogs {
  font-size: 1.5rem;
}

.options .signup:hover,
.options .login:hover,
.options .logout:hover,
.options .profile:hover,
.options .blogs:hover {
  border-radius: 5px;
  /* border: none; */
  color: rgb(65, 76, 230);
  text-shadow: 0 0 5px #414ce6;
  transition: 0.4s;
}

.main_head a,
.options a,
.options h3 {
  text-decoration: none;
  color: aliceblue;
  list-style: none;
}


header {
  text-align: center;
  font-size: 1.5rem;
}

header .head_content {
  width: 90%;
  margin: auto;
  padding: 7em 0;
}

header .head_content .content_text h1,
header .head_content .content_text h3 {
  margin: 0;
  margin-bottom: 1rem;
}

header .head_content .content_button {
  width: fit-content;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border: 3px solid rgb(55, 66, 221);
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(55, 66, 221);
  cursor: pointer;
  color: white;
  background-color: rgb(55, 66, 221);
}


header .head_content .content_button:hover {
  box-shadow: 0 0 10px rgb(55, 66, 221);
}


form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  max-width: 540px;
  margin: 4rem auto;
  padding: 30px;
  box-shadow: 1px 2px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background: white;
  color: darkslategray;
}

form .form_foot {
  text-align: center;
}

.form_foot p a {
  text-decoration: none;
  color: black;
}

.form_foot p a:hover {
  text-decoration: underline;
  color: #4d4dfa;
}



form input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 95%;
}



form label {
  display: block;
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

form button {
  margin: 2rem auto 2rem;
  border-radius: 20px;
  background: rgb(65, 110, 192);
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3vw;
  display: block;
  padding: 10px 16px;
  letter-spacing: 1px;
  color: white;
  width: 30%;
  height: 60px;
}

form button:hover {
  cursor: pointer;
  background: rgb(139, 139, 255);
  transition: 0.4s;
  letter-spacing: 3px;
}

.error {
  color: #e61212;
  margin: 10px 2px;
  font-size: 1rem;
  font-weight: bold;
}

#togglePassword {
  position: relative;
  left: -2rem;
}

#blog-submit {
  padding: 1em 0.5em;
  margin-top: 1em;
  border: 3px solid rgb(55, 66, 221);
  border-radius: 10px;
  color: rgb(55, 66, 221);
  cursor: pointer;
  color: white;
  background-color: rgb(55, 66, 221);
}

#blog-submit:hover {
  box-shadow: 0 0 10px rgb(55, 66, 221);
}




footer {
  text-align: center;
  /* margin: 200px 0 30px 0; */
  position: absolute;
  bottom: 0;

  width: 100%;
  color: rgba(256, 256, 256, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 1000px) {

  .header .head_container .main_head .header_text h1 {
    font-size: 2.5vw;
  }

  .header .head_container .options h3,
  .header .head_container .options a div {
    font-size: 2vw;
    /* margin-bottom: 1rem; */
  }
}

@media screen and (max-width: 850px) {

  body,
  footer {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header_icon {
    margin-top: 1rem;
    width: 60%;
  }

  .header_icon img {
    width: 100%;
  }

  .header_text h1 {
    display: none;
  }

  .header .head_container {
    margin-bottom: 2rem;
  }

  .header .head_container .options h3,
  .header .head_container .options a div {
    font-size: 3vw;
    margin-bottom: 1rem;
  }


  form {
    width: 90%;
    padding: .5rem;
    font-size: 2.5vw;
    margin: 1rem;
    box-shadow: none;
  }

  form label {
    font-size: 4vw;
  }

  form input {
    width: inherit;
  }

  form .signup_img label {
    font-size: 2.5vw;
  }

  button {
    font-size: 3vw;
  }

  footer {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 790px) {
  .header_icon {
    margin-top: 1rem;
    width: 60%;
  }

  .header_icon img {
    width: 100%;
  }

  .header_text h1 {
    display: none;
  }

  header h1,
  header h2,
  header div a {
    font-size: 7vw;
  }

  header h2 {
    font-size: 4vw;
  }
}